*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("images/bg-desktop.svg");
    background-color: #674baf;
    margin: 3%;
}

header img{
    width: 200px;
}

.container{
    display: flex;
    padding: 20px;
    padding-bottom: 0;
}

.illustration{
    flex: 65%;
    
}


.content{
    padding: 50px;
    padding-bottom: 0;
}

.content h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-bottom: 20px;
    padding-right: 20px;
    color: #ffffff;
}

.content p{
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    padding-bottom: 25px;
}

.btn{
    background-color: #ffffff;
    border-style: none ;
    padding: 13px 60px;
    color: #674baf;
    border-radius: 25px;
    font-size: 15px;
    font-family:'Poppins', sans-serif;
    font-weight: bold;

}
.btn:hover{
    cursor: pointer;
    background-color: #e882e8;
    color: #ffffff;
}

.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 50px;
    float: right;
    margin-bottom: 8px;
}

.social-icons i{
    border-radius: 50%;
    border: 2px solid #ffffff;
    color: #ffffff;
    margin: 0 0.7rem;
    padding: 0.8rem;
}

.social-icons i:hover{
    color:#e882e8;
    border-color: #e882e8;
}

